.modelCard-container {
  width: 500px;
  height: 300px;
  background-color: #ffffff;
}
.modelCard-image {
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.modelCard-title {
  font-size: 1rem;
  font-weight: 600;
  color: #3d3737;
  padding-left: 1em;
  font-family: "Roboto", sans-serif;
}
